<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Remove a Reptile</ion-title>
    <ion-button slot="end" (click)="dismiss()" color='secondary'>close</ion-button>
  </ion-toolbar>
</ion-header>
  
<ion-content>
  <form>
    <h2>Please select the reptile you wish to remove</h2>
    <ion-searchbar (ionInput)="getReptiles($event)" (ionClear)="resetList($event)"></ion-searchbar>
  </form>
  
  <ion-list>
    <ion-virtual-scroll [items]="reptiles" [headerFn]="customHeaderFn">
      <ion-item-divider *virtualHeader='let header'>
        {{header}}
      </ion-item-divider>
      <ion-item *virtualItem="let reptile" (click)="selectedReptile($event)" detail-push>
        <ion-thumbnail slot="start">
          <ion-img src="../../assets/img/thumbs/acadia.jpg"></ion-img>
        </ion-thumbnail>
        
        <ul class="clear">
          <li class="clear"><h2>{{reptile.SnakeName}}</h2></li>
          <li class="clear"><p>{{reptile.Species}}</p></li>
        </ul> 
      </ion-item>
      </ion-virtual-scroll>
  </ion-list>
</ion-content>