<ion-header>
    <ion-toolbar color="primary">
      <ion-title>Update a Reptile</ion-title>
      <ion-button slot="end" (click)="dismiss()" color='secondary'>close</ion-button>
    </ion-toolbar>
    <ion-toolbar color='primary'>
      <ion-searchbar (ionInput)="getReptiles($event)" (ionClear)="resetList($event)">
      </ion-searchbar>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-list>
      <ion-virtual-scroll [items]="reptiles" [headerFn]="customHeaderFn">
        <ion-item-divider *virtualHeader='let header'>
          {{header}}
        </ion-item-divider>
        <ion-item *virtualItem="let reptile" (click)="goReptileDetails(reptile)" detail-push>
          <ion-thumbnail slot="start" *ngIf='reptile.Picture != null'>
            <ion-img src="reptile.Picture"></ion-img>
          </ion-thumbnail>
          <ion-thumbnail slot="start" *ngIf='reptile.Picture == null'>
            <ion-img src="../assets/img/SnakeHausLogo.png"></ion-img>
          </ion-thumbnail>
          
          <ul class="clear">
            <li class="clear"><h2>{{reptile.SnakeName}}</h2></li>
            <li class="clear"><p>{{reptile.Species}}</p></li>
          </ul>
            
            
        </ion-item>
        </ion-virtual-scroll>
    </ion-list>
  </ion-content>