<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
        <ion-back-button defaultHref="tabs/reptiles"></ion-back-button>
    </ion-buttons>    
    <ion-title>{{reptileInfo.SnakeName}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row *ngIf="reptileInfo.Picture != null"><img src='{{reptileInfo.Picture}}'></ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row *ngIf="reptileInfo.Picture == null"><img src='../../assets/img/SnakeHausLogo.png'></ion-row>
  </ion-grid>
  
  <h1 padding >{{reptileInfo.SnakeName}}</h1>
  <ion-card>
    <ion-card-header>
      {{reptileInfo.SnakeName}}
    </ion-card-header>
    <ion-card-content>
      <ion-item (click)="this.basicInfo = !this.basicInfo">
        <h2>Basic Information</h2>
      </ion-item>
      <ion-item *ngIf="basicInfo" id="InfoSort">
        <ion-grid>
          <ion-row *ngIf="reptileInfo.SnakeName != null"><h2>Name:</h2><p>{{reptileInfo.SnakeName}}</p></ion-row>
          <ion-row *ngIf="reptileInfo.Species != null"><h2>Species:</h2><p>{{reptileInfo.Species}}</p></ion-row>
          <ion-row *ngIf="reptileInfo.Morph != null"><h2>Morph: </h2> <p>{{reptileInfo.Morph}}</p></ion-row>
          <ion-row *ngIf="reptileInfo.BirthDay != null"><h2>DoB: </h2> <p>{{reptileInfo.BirthDay}}</p></ion-row>
          <ion-row *ngIf="reptileInfo.Handling != null"><h2>Handling: </h2> <p>{{reptileInfo.Handling}}</p></ion-row>
          <ion-row *ngIf="reptileInfo.Aquired != null"><h2>Aquired: </h2> <p>{{reptileInfo.Aquired}}</p></ion-row>
          <ion-row *ngIf="reptileInfo.ScaleVentral != null"><h2>Scale Ventral: </h2> <p>{{reptileInfo.ScaleVentral}}</p></ion-row>
          <ion-row *ngIf="reptileInfo.ScaleMid != null"><h2>ScaleMid: </h2> <p>{{reptileInfo.ScaleMid}}</p></ion-row>
          <ion-row *ngIf="reptileInfo.ScaleSubCauudal != null"><h2>ScaleSubCauudal: </h2> <p>{{reptileInfo.ScaleSubCauudal}}</p></ion-row>
          <ion-row *ngIf="reptileInfo.Saddles != null"><h2>Saddles: </h2> <p>{{reptileInfo.Saddles}}</p></ion-row>
          <ion-row *ngIf="reptileInfo.ScaleCount5 != null"><h2>ScaleCount5: </h2> <p>{{reptileInfo.ScaleCount5}}</p></ion-row>
          <ion-row *ngIf="reptileInfo.Location != null"><h2>Location: </h2><p>{{reptileInfo.Location}}</p></ion-row>
          <ion-row *ngIf="reptileInfo.Active != null"><h2>Active: </h2><p>{{reptileInfo.Active}}</p></ion-row>
          <ion-row *ngIf="reptileInfo.Adopter != null"><h2>Active: </h2><p>{{reptileInfo.Adopter}}</p></ion-row>
          <ion-row *ngIf="reptileInfo.AdoptionDate != null"><h2>Adoption Date: </h2>{{reptileInfo.AdoptionDate}}</ion-row>
          
          <ion-row *ngIf="(reptileInfo.SnakeName == null) && (reptileInfo.Species == null) && (reptileInfo.Morph == null) && (reptileInfo.BirthDay == null) && (reptileInfo.Aquired == null) && (reptileInfo.ScaleVentral == null) && (reptileInfo.ScaleSubCauudal == null) && (reptileInfo.Saddles == null) && (reptileInfo.ScaleCount5 == null) && (reptileInfo.Location == null) && (reptileInfo.Active == null) && (reptileInfo.Adopter == null) && (reptileInfo.AdoptionDate == null)">
            No information is currently avaliable
          </ion-row>
        </ion-grid>
      </ion-item>



      <ion-item (click)="this.feed = !this.feed">
        <h2>Feed</h2>
      </ion-item>
      <ion-item *ngIf="feed" id="InfoSort">
        <ion-grid>
          <ion-row *ngIf="feedInfo.Food != null"><h2>Food:</h2><p>{{feedInfo.Food}}</p></ion-row>
          <ion-row *ngIf="feedInfo.Frequency != null"><h2>Frequency:</h2><p>{{feedInfo.Frequency}}</p></ion-row>
          <ion-row *ngIf="(feedInfo.Food == null) && (feedInfo.Frequency == null)">No information is currently avaliable</ion-row>
        </ion-grid>
      </ion-item>

      <ion-item (click)="this.observations = !this.observations">
        <h2>Observations</h2>
      </ion-item>
      <ion-virtual-scroll *ngIf="observations" id="InfoSort" [items]="observationInfo">
        <ion-grid *virtualItem="let item">
          <ion-row *ngIf="(item.Observation != null) && (item.O_Date != null)" id="InfoSort">
            <ion-row><p>{{item.O_Date}}   {{item.Observation}}</p></ion-row>
          </ion-row>
        </ion-grid>
      </ion-virtual-scroll>
      <ion-row *ngIf="(observationInfo.length == 0) && observations">No information is currently avaliable</ion-row>

      <ion-item (click)="this.feedSchedInfo = !this.feedSchedInfo">
        <h2>Feed Schedule</h2>
      </ion-item>
      <ion-item *ngIf="feedSchedInfo" id="InfoSort">
        <ion-grid>
          <ion-row *ngIf="feedSchedule.F_Date != null">Date: {{feedSchedule.F_Date}}</ion-row>
          <ion-row *ngIf="feedSchedule.Food != null">Food: {{feedSchedule.Food}}</ion-row>
          <ion-row *ngIf="feedSchedule.Comment != null">Comment: {{feedSchedule.Comment}}</ion-row>
          <ion-row *ngIf="(feedSchedule.F_Date == null) && (feedSchedule.Food == null) && (feedSchedule.Comment == null)">No information is currently avaliable</ion-row>
        </ion-grid>
      </ion-item>

      <ion-item (click)="this.medication = !this.medication">
        <h2>Medication</h2>
      </ion-item>
      <ion-item *ngIf="medication">
        <ion-grid>
          <ion-row *ngIf="medsInfo.RxDate != null">Date: {{medsInfo.RxDate}}</ion-row>
          <ion-row *ngIf="medsInfo.Rx != null">Rx: {{medsInfo.Rx}}</ion-row>
          <ion-row *ngIf="medsInfo.NextRx != null">NextRx: {{medsInfo.NextRx}}</ion-row>
          <ion-row *ngIf="(medsInfo.RxDate == null) && (medsInfo.Rx == null) && (medsInfo.NextRx == null)">No information is currently avaliable</ion-row>
        </ion-grid>
      </ion-item>

    </ion-card-content>
  </ion-card>
</ion-content>