<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Add a Reptile</ion-title>
    <ion-button slot="end" (click)="dismiss()" color='secondary'>close</ion-button>
  </ion-toolbar>
</ion-header>
  
  <ion-content padding>
    <form (ngSubmit)="logForm()">
      <h2>Basic Information</h2>
      <ion-item>
        <ion-label>ID: </ion-label>
        <ion-input type="text" name="title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Name: </ion-label>
        <ion-input type="text" name="title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Species: </ion-label>
        <ion-input type="text" name="title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Morph:</ion-label>
        <ion-input type="text" name="title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>DoB:</ion-label>
        <ion-input type="text" name="title"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label>Food:</ion-label>
          <ion-input type="text" name="title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Handling:</ion-label>
        <ion-input type="text" name="title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Acquired:</ion-label>
        <ion-input type="text" name="title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>ScaleVentral:</ion-label>
        <ion-input type="text" name="title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>ScaleMid:</ion-label>
        <ion-input type="text" name="title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>ScaleSubCaudal:</ion-label>
        <ion-input type="text" name="title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Saddles:</ion-label>
        <ion-input type="text" name="title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>ScaleCount5:</ion-label>
        <ion-input type="text" name="title"></ion-input>
      </ion-item>

      <h2>Observations</h2>
      <ion-item>
        <ion-label>Name: </ion-label>
        <ion-input type="text" name="title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Date: </ion-label>
        <ion-input type="text" name="title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Observation: </ion-label>
        <ion-input type="text" name="title"></ion-input>
      </ion-item>

      <h2>Feeding</h2>
      <ion-item>
        <ion-label>Name: </ion-label>
        <ion-input type="text" name="title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Food Size: </ion-label>
        <ion-input type="text" name="title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Frequency: </ion-label>
        <ion-input type="text" name="title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Date: </ion-label>
        <ion-input type="text" name="title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Ate: </ion-label>
        <ion-input type="text" name="title"></ion-input>
      </ion-item>
      <ion-button type="submit"><ion-label>Submit</ion-label></ion-button>
    </form>
  </ion-content>